#content
  padding 30px

#upcomingengagements
  height 400px
  background-color #fff
  width 280px
  border-radius 5px
  //box-shadow 0px 0px 0px 2px #ff9640 inset
  float left

#upcomingheader
  height 50px
  //border-radius 5px
  //box-shadow 0px 0px 0px 2px #ff9640 inset


#calendar
  height 400px
  overflow hidden
  background-color #fff
  float left
  margin-right 20px
  position relative
  width 900px
  box-shadow 0px 0px 0px 2px #ff9640 inset
  border-radius 5px

#daytitles
  height 50px
  clear both
  box-shadow 0px 0px 0px 2px #ff9640 inset
  border-radius 5px

.daytitle
  height 100%
  box-shadow 4px 0px 0px -2px #ff9640 inset

.daytitle:first-of-type
  box-shadow none

.daytitle,
.day
  width 12.5%
  float left
  > div
    box-shadow 4px -4px 0px -2px #ff9640 inset
    height 50px

#days
  height 350px
  overflow-y scroll

.dayname
  vertical-align inherit

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

box-shadow(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n