html, body
  height 100%
  background-color #ffb273

#wrapper
  min-height 100%
  height auto !important
  height 100%
  margin 0 auto -50px

#footer
  /*position absolute
  bottom 0
  left 0
  right 0*/
  height 50px
  background-color #a60000

#footernav
  margin 0 auto
  position relative
  ul
    float left
  li
    float left
    :last-of-type
      clear right
    a
      padding 10px
    span
      font-size 20px
