.top-buf
  margin-top 20px

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus
  color #0088cc
  background-color #fff
  font-weight bold

.row
  margin-right -30px

.btn
  background-image none
  filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=65)')
  -webkit-box-shadow none
  -moz-box-shadow none
  box-shadow none

.flip
  color #fff
  background-color #51a6ee
  overflow auto
  .btn
    color #51a6ee
    background-color #fff
    cursor pointer

.table
  color #0088cc
  background-color #fff

.form-actions
  background-color #fff
  border none