.top-buf
  margin-top 20px

.nav-pills > .active > a, .nav-pills > .active > a:hover, .nav-pills > .active > a:focus
  color #0088cc
  background-color #fff
  font-weight bold

.row
  margin-right -30px

.flip
  color #fff
  background-color #51A6EE
  overflow auto

.table
  color #0088cc
  background-color #fff