extends bootstrap

block content
  .container
    .row
      .span8.offset2
        .page-header
          img(src='/images/SurgeryAssistPNG24.png')
        .row
          .span8
            h3 Forgot Password?
        .row
          .span5.offset3
            form.form-horizontal
              .control-group
                  label.control-label(for='inputEmail') Email
                  .controls
                    input#inputEmail(type='email')
              .form-actions
                .btn-toolbar
                  button.btn.btn-large.btn-primary(type='submit') Send Reset Email