.top-buf {
  margin-top: 30px;
}
.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
  color: #08c;
  background-color: #fff;
  font-weight: bold;
}
.row {
  margin-right: -30px;
}
.btn {
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flip {
  color: #fff;
  background-color: #51a6ee;
  overflow: auto;
}
.flip .btn {
  color: #51a6ee;
  background-color: #fff;
  cursor: pointer;
}
.flip .nav a {
  color: #fff;
}
.flip .nav .active>a {
  color: #08c;
}
.flip .nav a:hover {
  color: #08c;
}
.table {
  color: #08c;
  background-color: #fff;
}
.form-actions {
  background-color: #fff;
  border: none;
}
select[size="1"] {
  height: 36px;
}
.table_div {
	float:left;
	width: 250px;
}
div.modal_dialog_ajax_loader_gif {
	float: left;
	margin: 5px 0px 0px 107px;
}
.ui-commandlink {
	font-size: inherit;
	font-family: inherit;
}
