#footer
  nav#footernav
    ul
      li
        a(href='/sitemap')
          span Site Map
      li
        a(href='/about')
          span About SurgeryAssist
      li
        a(href='/contact')
          span Contact Us