doctype 5
html
  head
    title= title
    block style
      link(rel='stylesheet', href='/stylesheets/reset.css')
      link(rel='stylesheet', href='/stylesheets/header.css')
      link(rel='stylesheet', href='/stylesheets/footer.css')
  body
    #wrapper
      include header
      block content
    include footer